<html>
    <head>
        <title> Buy me Boba </title>
        <link rel="stylesheet" href="../styles/index.css">
    </head>
    <body>
        <h1> Help us afford a boba date </h1>
        <div class="begForBoba">
          <div class="leftContainer">
            <p>
              Aliquet sagittis id consectetur purus ut faucibus. Sed risus pretium quam vulputate dignissim suspendisse in est ante. Integer eget aliquet nibh praesent tristique magna sit. Aliquam ut porttitor leo a. Faucibus nisl tincidunt eget nullam non nisi. Id interdum velit laoreet id donec. Vitae auctor eu augue ut. Id ornare arcu odio ut sem nulla pharetra diam sit. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in. Semper risus in hendrerit gravida rutrum quisque non tellus.
            </p>
            <div class="buttonContainer">
              <div class="dollarAmount">
                <button style="flex: 1">
                  $2
                </button>
                <button style="flex: 1">
                  $5
                </button>
                <button style="flex: 1">
                  $7.50
                </button>
              </div>
              <div class="donateButton">
                <p class="donateText">
                  Donate
                </p>
              </div>
            </div>
          </div>
          <img src="../assets/boba_tea.png" alt="boba">
        </div>
    </body>
</html>s
